server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: ms-etudiants
          uri: lb://ms-etudiants
          predicates:
            - Path=/ms-etudiants/**

        - id: ms-cours
          uri: lb://ms-cours
          predicates:
            - Path=/ms-cours/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka