server:
  port: 8888

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: ms-etudiants
          uri: lb://ms-etudiants
          predicates:
            - Path=/etudiants/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
