server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/sallma123/educative-microservices.git
          search-paths: config-repo
          default-label: main
