server:
  port: 8083

spring:
  application:
    name: ms-interface

  config:
    import: "optional:configserver:"

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info

  endpoint:
    info:
      enabled: true
