server:
  port: 8081

spring:
  application:
    name: ms-etudiants

  datasource:
    url: jdbc:h2:mem:etudiants-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      platform: h2

  h2:
    console:
      enabled: true

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"
