server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: file:///C:/Users/T14s/Desktop/educative-microservices/config-repo
  profiles:
    active: native
